/* BUTTON */

.zn-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 16px;
    min-width: 88px;
    min-height: 36px;
    line-height: 36px;
    overflow: hidden;
    font-size: 14px !important;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-radius: 2px;
    color: var(--zn-text-dark);
    background-color: transparent;
    margin: 6px;
    vertical-align: middle;
    user-select: none;
    outline: none;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 0;
    transition: .32s var(--ease-in-out);
    transition-property: box-shadow, background-color;
}

.zn-button a {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.zn-button:not(.zn-fab):not(.zn-raised):not(.zn-colored):not(.zn-primary):not(.zn-accent) > .zn-ripple-container {
    opacity: .12;
}

.zn-button::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    border-radius: inherit;
    opacity: 0;
    z-index: -1;
    transition: opacity .24s var(--ease-in-out);
}

.zn-button:hover::after,
.zn-button:focus::after {
    opacity: .12;
}

.zn-button.zn-primary:not(.zn-fab):not(.zn-raised):not(.zn-colored)::after {
    background-color: var(--zn-primary);
}

.zn-button.zn-accent:not(.zn-fab):not(.zn-raised):not(.zn-colored)::after {
    background-color: var(--zn-accent);
}

.zn-button.zn-primary {
    color: var(--zn-primary);
}

.zn-button.zn-primary > .zn-ripple-container {
    background-color: var(--zn-primary);
}

.zn-button.zn-accent {
    color: var(--zn-accent);
}

.zn-button.zn-accent > .zn-ripple-container {
    background-color: var(--zn-accent);
}

.zn-icon-btn {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    padding: 0;
    border-radius: 50%;
}

.zn-button:disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, .26);
}

/* RAISED / FAB / COLORED */

.zn-button.zn-raised,
.zn-button.zn-fab,
.zn-button.zn-colored {
    color: var(--zn-text-dark);
    background-color: #e0e0e0;
    box-shadow: inset 0 -1px rgba(0, 0, 0, .06), var(--z-1dp);
    /* 0px 1px 4px 0.2px rgba(0, 0, 0, 0.24), 0px 2px 7px 0.12px rgba(0, 0, 0, 0.16) */
}

.zn-button.zn-raised:focus,
.zn-button.zn-fab:focus {
    box-shadow: inset 0 -1px rgba(0, 0, 0, .06), 0px 8px 16px 0.7px rgba(0, 0, 0, 0.24), 0px 4px 18px 0.4px rgba(0, 0, 0, 0.16);
}


.zn-button.zn-raised > .zn-ripple-container,
.zn-button.zn-fab > .zn-ripple-container,
.zn-button.zn-colored > .zn-ripple-container {
    background-color: #000;
}

.zn-button.zn-raised.zn-primary,
.zn-button.zn-raised.zn-accent,

.zn-button.zn-fab.zn-primary,
.zn-button.zn-fab.zn-accent,

.zn-button.zn-colored.zn-primary,
.zn-button.zn-colored.zn-accent {
    color: var(--zn-text-light);
}

.zn-button.zn-raised.zn-primary,
.zn-button.zn-fab.zn-primary,
.zn-button.zn-colored.zn-primary {
    background-color: var(--zn-primary);
}

.zn-button.zn-raised.zn-accent,
.zn-button.zn-fab.zn-accent,
.zn-button.zn-colored.zn-accent {
    background-color: var(--zn-accent);
}

.zn-button.zn-raised.zn-primary > .zn-ripple-container,
.zn-button.zn-raised.zn-accent > .zn-ripple-container,

.zn-button.zn-fab.zn-primary > .zn-ripple-container,
.zn-button.zn-fab.zn-accent > .zn-ripple-container,

.zn-button.zn-colored.zn-primary > .zn-ripple-container,
.zn-button.zn-colored.zn-accent > .zn-ripple-container {
    background-color: #fff;
}

.zn-button.zn-raised:disabled,
.zn-button.zn-fab:disabled,
.zn-button.zn-colored:disabled {
    color: rgba(0, 0, 0, .26);
    background-color: rgba(0, 0, 0, .12);
    box-shadow: none !important;
}

.zn-button.zn-colored {
    box-shadow: none;
}

/* FAB */

.zn-button.zn-fab {
    width: 56px;
    min-width: 56px;
    height: 56px;
    min-height: 56px;
    border-radius: 50%;
    padding: 0;
}

.zn-button.zn-fab.zn-mini {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
}

.zn-button.zn-fab.zn-float {
    position: absolute;
    z-index: 20;
    margin: 0;
    right: 24px;
    bottom: 24px;
}

@media (max-width: 720px) {
    .zn-button.zn-fab.zn-float {
        right: 16px;
        bottom: 16px;
    }
}

/* END BUTTON */
