/* TOOLTIP */

.zn-tooltip {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    min-height: 22px;
    max-height: 22px;
    padding: 0 8px;
    height: 22px;
    background-color: rgba(97, 97, 97, 0.9);
    color: var(--zn-text-light);
    border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
    z-index: 500;
    user-select: none;
    opacity: 0;
    transition: opacity .12s var(--ease-in-out), transform .12s var(--ease-in-out);
    box-sizing: border-box;
}

.zn-tooltip.zn-top {
    transform: translate3d(0, 4px, 0);
}

.zn-tooltip.zn-bottom {
    transform: translate3d(0, -4px, 0);
}

.zn-tooltip.zn-left {
    transform: translate3d(4px, 0, 0);
}

.zn-tooltip.zn-right {
    transform: translate3d(-4px, 0, 0);
}

.zn-tooltip.zn-show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

@media (max-width: 720px) {

    .zn-tooltip {
        padding: 0 16px;
        height: 32px;
        min-height: 32px;
        max-height: 32px;
        font-size: 14px;
    }

}

/* END TOOLTIP */
