html, body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #fafafa;
    -webkit-tap-highlight-color: transparent;
	  color: var(--zn-text-dark);
  	font-size: 16px;
  	font-weight: 400;
  	height: 100%;
  	-webkit-font-smoothing: antialiased;
}

* {
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3 {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}

/* FONT SETTINGS */

.material-icons,
.mdi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* END FONT SETTINGS */

[tabindex= "-1"] {
    border: 0;
    outline: none;
}

/* SHADOW */

:root {
    --z-1dp: 0px 2px 3px rgba(0, 0, 0, 0.24),0px 0.5px 3px 0.1px rgba(0, 0, 0, 0.16);
    --z-2dp: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24),0px 1px 6.86px 0.14px rgba(0, 0, 0, 0.16);
    --z-3dp: 0px 5px 6.58px 0.42px rgba(0, 0, 0, 0.24),0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.16);
    --z-4dp: 0px 7px 9.4px 0.6px rgba(0, 0, 0, 0.24),0px 3px 12.74px 0.26px rgba(0, 0, 0, 0.16);
    --z-6dp: 0px 10px 14.1px 0.9px rgba(0, 0, 0, 0.24),0px 4px 19.6px 0.4px rgba(0, 0, 0, 0.16);
    --z-8dp: 0px 13px 18.8px 1.2px rgba(0, 0, 0, 0.24),0px 5px 26.46px 0.54px rgba(0, 0, 0, 0.16);
    --z-9dp: 0px 18px 25.38px 1.62px rgba(0, 0, 0, 0.24),0px 9px 35.28px 0.72px rgba(0, 0, 0, 0.16);
    --z-12dp: 0px 20px 28.2px 1.8px rgba(0, 0, 0, 0.24),0px 8px 40.18px 0.82px rgba(0, 0, 0, 0.16);
    --z-16dp: 0px 28px 37.6px 2.4px rgba(0, 0, 0, 0.24),0px 11px 51.94px 1.06px rgba(0, 0, 0, 0.16);
    --z-24dp: 0px 39px 56.4px 3.6px rgba(0, 0, 0, 0.24),0px 15px 79.38px 1.62px rgba(0, 0, 0, 0.16);
}

.z-0dp, [zn-elevation="0"] {
    box-shadow: none !important;
}

.z-1dp, [zn-elevation="1"] {
    box-shadow: var(--z-1dp) !important;
}

.z-2dp, [zn-elevation="2"] {
    box-shadow: var(--z-2dp) !important;
}

.z-3dp, [zn-elevation="3"] {
    box-shadow: var(--z-3dp) !important;
}

.z-4dp, [zn-elevation="4"] {
    box-shadow: var(--z-4dp) !important;
}

.z-6dp, [zn-elevation="6"] {
    box-shadow: var(--z-6dp) !important;
}

.z-8dp, [zn-elevation="8"] {
    box-shadow: var(--z-8dp) !important;
}

.z-9dp, [zn-elevation="9"] {
    box-shadow: var(--z-9dp) !important;
}

.z-12dp, [zn-elevation="12"] {
    box-shadow: var(--z-12dp) !important;
}

.z-16dp, [zn-elevation="16"] {
    box-shadow: var(--z-16dp) !important;
}

.z-24dp, [zn-elevation="24"] {
    box-shadow: var(--z-24dp) !important;
}

/* END SHADOW */


/* ANIMATION TRANSITION */

:root {
	--ease-in-out: cubic-bezier(0.4, 0.0, 0.2, 1);
	--ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
	--ease-in: cubic-bezier(0.4, 0.0, 1, 1);
	--sharp: cubic-bezier(0.4, 0.0, 0.6, 1);
}

/* END ANIMATION TRANSITION */


/* THEMEMING */

:root {
    --zn-primary: #4285F4; /* #43A047 */
    --zn-primary-dark: #3165b9; /* #2E7D32 */
    --zn-primary-light: #7BAAF7; /* #66BB6A */

	--zn-accent: #FF9A0B; /* #FB6F10 */
    --zn-accent-dark: #FF6C03; /* #F95209 */
    --zn-accent-light: #FFB854; /* #FC9A58 */

    --zn-primary-base: 1;
    --zn-accent-base: 1;

    --zn-text-light: rgb(255, 255, 255);
    --zn-text-light-sec: rgba(255, 255, 255, .7);
    --zn-text-light-hint: rgba(255, 255, 255, 0.5);

    --zn-text-dark: rgba(0, 0, 0, 0.87);
    --zn-text-dark-sec: rgba(0, 0, 0, 0.54);
    --zn-text-dark-hint: rgba(0, 0, 0, 0.38);
}

/* END THEMEMING */


/* RIPPLE */

.zn-ripple-container {
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    opacity: .24;
    transform: scale(0);
    transition: transform .38s var(--ease-out);
}

/* END RIPPLE */




/* COMPONENTS */

.zn-link {
    font-weight: 500;
    color: var(--zn-accent);
    text-decoration: none;
}

.zn-link:hover {
    text-decoration: underline;
    color: var(--zn-accent-light);
}

.zn-link:visited {
    color: var(--zn-accent-dark);
}

.zn-link:visited:hover {
    color: var(--zn-accent);
}

.zn-cloak {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    z-index: 10000;
}


/* TOOLBAR */

.zn-toolbar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 64px;
    box-sizing: border-box;
    color: var(--zn-text-light);
    background-color: var(--zn-primary);
    box-shadow: var(--z-2dp);
    transition: box-shadow .24s var(--ease-in-out);
    z-index: 10;
}

.zn-toolbar-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    margin: 0;
    min-height: 64px;
    box-sizing: border-box;
}

.zn-toolbar-title {
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    margin: 0;
    user-select: none;
    cursor: default;
    color: var(--zn-text-light);
}

.zn-toolbar-row .zn-button {
    margin: 0 6px;
    color: var(--zn-text-light);
}

.zn-toolbar-row .zn-button::after {
    background-color: #fff;
}

.zn-toolbar-row .zn-button > .zn-ripple-container {
    background-color: #fff;
}

.zn-toolbar-row > .zn-button:last-of-type {
    margin-right: -12px;
}

.zn-toolbar-row > .zn-button:first-child {
    margin-left: -8px;
    margin-right: 24px;
}


.zn-toolbar.zn-distinct .zn-toolbar-row .zn-button {
    color: var(--zn-text-dark-sec);
}

.zn-toolbar.zn-distinct .zn-toolbar-row .zn-button::after {
    background-color: #000;
}

.zn-toolbar.zn-distinct .zn-toolbar-row .zn-button > .zn-ripple-container {
    background-color: #000;
}

@media (max-width: 720px) {

    .zn-toolbar,
    .zn-toolbar-row {
        min-height: 56px;
    }

    .zn-toolbar-row {
        padding: 0 16px;
    }

    .zn-toolbar-row .zn-button {
        margin: 0 4px;
    }

    .zn-toolbar-row > .zn-button:last-of-type:not(:first-child) {
        margin-right: -8px;
    }

}


/* SEARCHBAR */

.zn-searchbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    min-height: 48px;
    padding: 0 24px;
    margin: 8px;
    background-color: #fafafa;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0.4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.24);
    transition: var(--ease-in-out) .1s;
}

.zn-searchbar-input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    flex: 1;
    color: var(--zn-text-dark);
    background-color: transparent;
    caret-color: var(--zn-text-dark);
    vertical-align: top;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.zn-searchbar-input,
.zn-searchbar-input::placeholder {
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
}

.zn-searchbar-input::placeholder {
    color: var(--zn-text-dark-sec);
}

.zn-searchbar .zn-button {
    color: var(--zn-text-dark-sec);
    margin: 0 6px;
}

.zn-searchbar > .zn-button:first-child {
    margin-left: -8px;
    margin-right: 24px;
}

.zn-searchbar > .zn-button:last-child {
    margin-right: -12px;
}

.zn-searchbar.zn-full-width {
    height: 64px;
    min-height: 64px;
    margin: 0;
    border-radius: 0;
}

/*
.zn-searchbar.zn-dimmed:not(.zn-focused) {
    background-color: rgba(0, 0, 0, .24);
    box-shadow: none;
}

.zn-searchbar.zn-dimmed:not(.zn-focused) .zn-searchbar-input {
    color: var(--zn-text-light);
    caret-color: var(--zn-text-light);
}

.zn-searchbar.zn-dimmed:not(.zn-focused) .zn-searchbar-input::placeholder {
    color: var(--zn-text-light-sec);
}

.zn-searchbar.zn-dimmed:not(.zn-focused) .zn-button {
    color: var(--zn-text-light-sec);
}
*/

@media (max-width: 720px) {

    .zn-searchbar {
        padding: 0 16px;
    }

    .zn-searchbar.zn-full-width {
        height: 56px;
        min-height: 56px;
    }

    .zn-searchbar > .zn-button:last-of-type:not(:first-child) {
        margin-right: -8px;
    }

}


/* BOTTOM NAVBAR */

.zn-bottom-navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 56px;
    min-height: 56px;
    background-color: #fff;
    overflow: hidden;
    z-index: 110;
    box-shadow: var(--z-2dp);
}

.zn-bottom-navbar-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: auto;
    min-width: 80px;
    max-width: 168px;
    height: 100%;
    padding: 8px 12px 10px;
    color: var(--zn-text-dark-sec);
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.zn-bottom-navbar-item .zn-icon {
    transition: .14s var(--ease-in-out);
}

.zn-bottom-navbar-item .zn-text {
    transition: .18s var(--ease-in-out);
}

.zn-bottom-navbar-item .zn-text {
    font-size: 14px;
    font-weight: 400;
    transform: scale(0.85);
    transform-origin: bottom center;
}

.zn-bottom-navbar-item.zn-active {
    color: var(--zn-primary);
}

.zn-bottom-navbar-item.zn-active .zn-icon {
    transform: translateY(-2px);
}

.zn-bottom-navbar-item.zn-active .zn-text {
    transform: scale(1);
}

.zn-bottom-navbar-item > .zn-ripple-container {
    background-color: var(--zn-primary);
}

.zn-bottom-navbar.zn-shift .zn-bottom-navbar-item {
    color: var(--zn-text-light-sec);
    transition: .26s var(--ease-out);
    min-width: 56px;
    max-width: 96px;
}

.zn-bottom-navbar.zn-shift .zn-bottom-navbar-item.zn-active {
    color: var(--zn-text-light);
    min-width: 96px;
    max-width: 168px;
}

.zn-bottom-navbar.zn-shift .zn-bottom-navbar-item .zn-icon {
    transition: .18s var(--ease-in-out);
    transform: translateY(8px);
}

.zn-bottom-navbar.zn-shift .zn-bottom-navbar-item.zn-active .zn-icon {
    transform: translateY(-2px);
}

.zn-bottom-navbar.zn-shift .zn-bottom-navbar-item .zn-text {
    transition: .12s var(--ease-in-out);
    transform: translateY(2px);
    opacity: 0;
}

.zn-bottom-navbar.zn-shift .zn-bottom-navbar-item.zn-active .zn-text {
    transform: translateY(1px);
    opacity: 1;
}


/* END TOOLBAR */


/* TAB */

.zn-tabs-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
	background-color: var(--zn-primary);
    overflow: hidden;
	box-sizing: border-box;
}

.zn-tabs {
    position: relative;
	display: flex;
    flex-direction: row;
    width: auto;
    height: 48px;
	min-height: 48px;
	max-height: 48px;
	padding-left: 56px;
    /*padding-bottom: 100px;
    margin-bottom: -100px;*/
    overflow: hidden;
	overflow-style: none;
    -ms-overflow-style: none;
}

.zn-tabs::-webkit-scrollbar {
    display: none;
}

.zn-tab {
	position: relative;
    display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
    flex-direction: column;
	padding: 0 24px;
    width: auto;
	min-width: 72px;
	max-width: 264px;
	height: 100%;
    min-height: inherit;
    background-color: transparent;
	color: var(--zn-text-light-sec);
	text-align: center;
	text-transform: uppercase;
    font-family: inherit;
	font-size: 14px;
	font-weight: 500;
    border: none;
    outline: 0;
	overflow: hidden;
	word-break: break-all;
	user-select: none;
	cursor: pointer;
}

.zn-tab.zn-active {
	color: var(--zn-text-light);
}

.zn-tab > .zn-ripple-container {
    background-color: #fff;
}

.zn-tab-indicator {
    position: absolute;
    bottom: 0; /* 100px */
    left: 0;
    height: 2px;
    background-color: #fff;
}

.zn-tab-indicator.zn-init {
    transition: .34s var(--ease-in-out);
}

.zn-tabs.zn-icon-and-text {
    height: 72px;
    min-height: 72px;
    max-height: 72px;
}

.zn-tabs.zn-icon-and-text .zn-tab-icon {
    margin-bottom: 10px;
}

.zn-tabs-wrapper.zn-fixed .zn-tabs,
.zn-tabs-wrapper.zn-centered .zn-tabs {
    padding-left: 0;
}

.zn-tabs-wrapper.zn-fixed .zn-tab {
    flex: 1;
    max-width: none;
}

.zn-tabs-wrapper.zn-centered .zn-tabs {
    justify-content: center;
}

.zn-tab-indicator.zn-accent {
    background-color: var(--zn-accent);
}


.zn-tab-contents-wrapper {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
    box-sizing: border-box;
}

.zn-tab-contents {
	position: relative;
	display: flex;
    flex-direction: row;
	width: 100%;
	height: 100%;
}

.zn-tab-contents.zn-init {
    transition: .48s var(--ease-in-out);
}

.zn-tab-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
	flex: initial;
	flex-shrink: 0;
	background-color: #fafafa;
	box-sizing: border-box;
}


.zn-tabs-wrapper.zn-white-primary,
.zn-tabs-wrapper.zn-white-accent {
	background-color: #fff;
}

.zn-tabs-wrapper.zn-white-primary .zn-tab {
    color: var(--zn-primary);
}

.zn-tabs-wrapper.zn-white-accent .zn-tab {
    color: var(--zn-accent);
}

.zn-tabs-wrapper.zn-white-primary .zn-tab > .zn-ripple-container {
    background-color: var(--zn-primary);
}

.zn-tabs-wrapper.zn-white-accent .zn-tab > .zn-ripple-container {
    background-color: var(--zn-accent);
}

.zn-tabs-wrapper.zn-white-primary .zn-tab-indicator {
    background-color: var(--zn-primary);
}

.zn-tabs-wrapper.zn-white-accent .zn-tab-indicator {
    background-color: var(--zn-accent);
}

@media (max-width: 720px) {

    .zn-tabs {
        padding-left: 60px;
    }

    .zn-tab {
        padding: 0 12px;
    }

}

/*@media (min-width: 1280px) {

    .zn-tabs {
        padding-left: 60px;
    }

    .zn-tab {
        min-width: 160px;
    }

}*/


/* END TAB */


/* ZN CONTENT */

.zn-content {
    position: relative;
    display: block;
    flex: 1;
    overflow: auto;
}

/*

.zn-content::-webkit-scrollbar-track {
	background-color: rgba(200, 200, 200, 0.54);
}

.zn-content::-webkit-scrollbar {
	width: 12px;
	height: 12px;
    overflow: hidden;
	background-color: rgba(200, 200, 200, 0.54);
}

.zn-content::-webkit-scrollbar-thumb {
	background-color: rgba(148, 148, 148, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.zn-content::-webkit-scrollbar-thumb:hover {
    border-radius: 2px;
	background-color: rgba(132, 132, 132, 0.87);
}

*/

/* END ZN CONTENT */


/* BUTTON */

.zn-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 16px;
    min-width: 88px;
    min-height: 36px;
    line-height: 36px;
    overflow: hidden;
    font-size: 14px !important;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-radius: 2px;
    color: var(--zn-text-dark);
    background-color: transparent;
    margin: 6px;
    vertical-align: middle;
    user-select: none;
    outline: none;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 0;
    transition: .32s var(--ease-in-out);
    transition-property: box-shadow, background-color;
}

.zn-button a {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.zn-button:not(.zn-fab):not(.zn-raised):not(.zn-colored):not(.zn-primary):not(.zn-accent) > .zn-ripple-container {
    opacity: .12;
}

.zn-button::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    border-radius: inherit;
    opacity: 0;
    z-index: -1;
    transition: opacity .24s var(--ease-in-out);
}

.zn-button:hover::after,
.zn-button:focus::after {
    opacity: .12;
}

.zn-button.zn-primary:not(.zn-fab):not(.zn-raised):not(.zn-colored)::after {
    background-color: var(--zn-primary);
}

.zn-button.zn-accent:not(.zn-fab):not(.zn-raised):not(.zn-colored)::after {
    background-color: var(--zn-accent);
}

.zn-button.zn-primary {
    color: var(--zn-primary);
}

.zn-button.zn-primary > .zn-ripple-container {
    background-color: var(--zn-primary);
}

.zn-button.zn-accent {
    color: var(--zn-accent);
}

.zn-button.zn-accent > .zn-ripple-container {
    background-color: var(--zn-accent);
}

.zn-icon-btn {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    padding: 0;
    border-radius: 50%;
}

.zn-button:disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, .26);
}

/* RAISED / FAB / COLORED */

.zn-button.zn-raised,
.zn-button.zn-fab,
.zn-button.zn-colored {
    color: var(--zn-text-dark);
    background-color: #e0e0e0;
    box-shadow: inset 0 -1px rgba(0, 0, 0, .06), var(--z-1dp);
    /* 0px 1px 4px 0.2px rgba(0, 0, 0, 0.24), 0px 2px 7px 0.12px rgba(0, 0, 0, 0.16) */
}

.zn-button.zn-raised:focus,
.zn-button.zn-fab:focus {
    box-shadow: inset 0 -1px rgba(0, 0, 0, .06), 0px 8px 16px 0.7px rgba(0, 0, 0, 0.24), 0px 4px 18px 0.4px rgba(0, 0, 0, 0.16);
}


.zn-button.zn-raised > .zn-ripple-container,
.zn-button.zn-fab > .zn-ripple-container,
.zn-button.zn-colored > .zn-ripple-container {
    background-color: #000;
}

.zn-button.zn-raised.zn-primary,
.zn-button.zn-raised.zn-accent,

.zn-button.zn-fab.zn-primary,
.zn-button.zn-fab.zn-accent,

.zn-button.zn-colored.zn-primary,
.zn-button.zn-colored.zn-accent {
    color: var(--zn-text-light);
}

.zn-button.zn-raised.zn-primary,
.zn-button.zn-fab.zn-primary,
.zn-button.zn-colored.zn-primary {
    background-color: var(--zn-primary);
}

.zn-button.zn-raised.zn-accent,
.zn-button.zn-fab.zn-accent,
.zn-button.zn-colored.zn-accent {
    background-color: var(--zn-accent);
}

.zn-button.zn-raised.zn-primary > .zn-ripple-container,
.zn-button.zn-raised.zn-accent > .zn-ripple-container,

.zn-button.zn-fab.zn-primary > .zn-ripple-container,
.zn-button.zn-fab.zn-accent > .zn-ripple-container,

.zn-button.zn-colored.zn-primary > .zn-ripple-container,
.zn-button.zn-colored.zn-accent > .zn-ripple-container {
    background-color: #fff;
}

.zn-button.zn-raised:disabled,
.zn-button.zn-fab:disabled,
.zn-button.zn-colored:disabled {
    color: rgba(0, 0, 0, .26);
    background-color: rgba(0, 0, 0, .12);
    box-shadow: none !important;
}

.zn-button.zn-colored {
    box-shadow: none;
}

/* FAB */

.zn-button.zn-fab {
    width: 56px;
    min-width: 56px;
    height: 56px;
    min-height: 56px;
    border-radius: 50%;
    padding: 0;
}

.zn-button.zn-fab.zn-mini {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
}

.zn-button.zn-fab.zn-float {
    position: absolute;
    z-index: 20;
    margin: 0;
    right: 24px;
    bottom: 24px;
}

@media (max-width: 720px) {
    .zn-button.zn-fab.zn-float {
        right: 16px;
        bottom: 16px;
    }
}

/* END BUTTON */


/* SUBHEADER */

.zn-subheader {
    position: relative;
    width: 100%;
    color: var(--zn-text-dark-sec);
    display: flex;
    align-items: center;
    height: 48px;
    min-height: 48px;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    user-select: none;
    cursor: default;
}

/* END SUBHEADER */


/* CARD */

.zn-card,
.zn-dialog {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    min-height: 64px;
    margin: 16px;
    background-color: #fff;
    box-shadow: var(--z-2dp);
    border-radius: 2px;
    word-break: break-word;
}

.zn-card-header,
.zn-dialog-header {
    position: relative;
    overflow: hidden;
    padding: 24px 24px 16px;
    color: var(--text-dark);
}

.zn-card-title, .zn-card-subtitle,
.zn-dialog-title, .zn-dialog-subtitle {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.zn-card-title,
.zn-dialog-title {
    padding-bottom: 4px;
}

.zn-card-title.zn-large,
.zn-dialog-title.zn-large {
    font-weight: 400;
    font-size: 24px;
}

.zn-card-subtitle,
.zn-dialog-subtitle {
    color: var(--zn-text-dark-sec);
}

.zn-card-content,
.zn-dialog-content {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 24px 24px;
    color: var(--text-dark);
}

.zn-card-rich-media {
    position: relative;
    width: 100%;
    height: auto;
}

.zn-card-rich-media {
    content: '';
    width: 100%;
    padding-top: 56.25%;
}

.zn-card-header .zn-avatar {
    margin-right: 16px;
}

.zn-card-actions,
.zn-dialog-actions {
    position: relative;
    padding: 2px 12px;
    display: flex;
    align-items: center;
}

.zn-card-actions .zn-button:not(.zn-fab):not(.zn-icon):not(.zn-mini),
.zn-dialog-actions .zn-button {
    margin-left: 4px;
    margin-right: 4px;
    min-width: 64px;
    padding: 0 8px;
}

.zn-card.zn-has-divider .zn-card-actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

@media ( max-width: 720px ) {

    .zn-card {
        margin: 8px;
    }

    .zn-card-header {
        padding: 16px;
    }

    .zn-card-content {
        padding: 16px;
    }

}

/* END CARD */


/* DIALOG */

.zn-dialog-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 110;
    box-sizing: border-box;
    pointer-events: none;
}

.zn-dialog {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 256px;
    max-height: 100%;
    margin: 40px 80px;
    background-color: #fafafa;
    box-shadow: var(--z-16dp);
    user-select: none;
    cursor: default;
    pointer-events: none;
    transform: translate3d(0, 32px, 0);
    opacity: 0;
    transition: .24s var(--ease-in-out);
}

.zn-dialog-wrapper .zn-dialog {
    margin-top: 0;
    margin-bottom: 0;
}

.zn-dialog-wrapper.zn-show .zn-dialog,
.zn-dialog.zn-show {
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.zn-dialog-header {
    flex: 1 0;
    user-select: none;
    padding: 24px 24px 20px;
}

.zn-dialog-title {
    font-size: 20px;
    padding-bottom: 0;
}

.zn-dialog-content {
    flex: 0 1;
    padding: 24px;
    overflow: auto;
    font-size: 16px;
    color: var(--zn-text-dark-sec);
}

.zn-dialog-header ~ .zn-dialog-content {
    padding-top: 0;
}

.zn-dialog-content::-webkit-scrollbar-track {
	background-color: rgba(200, 200, 200, 0.54);
}

.zn-dialog-content::-webkit-scrollbar {
	width: 10px;
	height: 10px;
    overflow: hidden;
	background-color: rgba(200, 200, 200, 0.54);
}

.zn-dialog-content::-webkit-scrollbar-thumb {
	background-color: rgba(148, 148, 148, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.zn-dialog-content::-webkit-scrollbar-thumb:hover {
    border-radius: 2px;
	background-color: rgba(132, 132, 132, 0.87);
}


.zn-dialog-user-content {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.zn-dialog-actions {
    padding: 2px 4px;
    flex: 1 0;
    justify-content: flex-end;
}

.zn-dialog-scrim {
    z-index: 109;
}


/* Bottom sheet */

.zn-bottom-sheet {
    position: fixed;
    display: none;
    min-width: 384px;
    max-width: calc(100% - 64px * 2);
    min-height: 56px;
    max-height: calc(100% - 72px);
    left: 50%;
    bottom: 0;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #fafafa;
    box-shadow: var(--z-16dp);
    transform: translate3d(-50%, 100%, 0);
    transition: .28s transform var(--sharp);
    z-index: 100;
}

.zn-bottom-sheet.zn-active {
    transform: translate3d(-50%, 0, 0);
    transition: .28s transform var(--ease-out);
}

.zn-bottom-sheet-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: .28s var(--ease-in-out);
    user-select: none;
    z-index: 109;
}

.zn-bottom-sheet-overlay.zn-active {
    opacity: .2;
}

@media (min-width: 1280px) {

    .zn-bottom-sheet {
        min-width: 512px;
        max-width: calc(100% - 128px * 2);
    }

}

@media (min-width: 1440px) {

    .zn-bottom-sheet {
        min-width: 576px;
        max-width: calc(100% - 192px * 2);
    }

}

@media (max-width: 720px) {

    .zn-bottom-sheet {
        min-width: initial;
        width: 100%;
        max-width: 100%;
        max-height: calc(100% - 64px);
        margin: 0;
        border-radius: 0;
    }

}

.zn-bottom-sheet.zn-full-height {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
    bottom: 0 !important;
    transform: translate3d(0, 100%, 0);
}

.zn-bottom-sheet.zn-full-height.zn-active {
    transform: translate3d(0, 0, 0);
}


/* Text field */

.zn-dialog-content > .zn-text-field {
    margin: 8px 0;
}

.zn-dialog-content > .zn-text-field:first-child  {
    margin-top: 0;
}

.zn-dialog-content > .zn-text-field:last-child  {
    margin-bottom: 0;
}


/* List */

.zn-dialog-list-padding-clear {
    margin: -16px -24px -24px;
}

.zn-dialog-header ~ .zn-dialog-content .zn-dialog-list-padding-clear {
    margin-top: 0;
}

.zn-dialog .zn-dialog-list-padding-clear .zn-list {
    padding: 0;
}

.zn-dialog .zn-list-item {
    padding: 0 24px;
}

.zn-dialog .zn-list-item .zn-dialog-select:not(.zn-dialog-secondary) {
    margin-right: 8px;
}


.zn-dialog-user-content ~ .zn-dialog-list-padding-clear {
    margin-top: 0;
}

.zn-dialog-list-padding-clear ~ .zn-dialog-user-content {
    margin-top: 24px;
}


/* Stacked actions */

.zn-dialog-actions.zn-stacked  {
    padding: 0;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 8px;
}

.zn-dialog-actions.zn-stacked  .zn-button {
    height: 36px;
    min-height: 36px;
    padding: 0 8px;
    margin: 6px 8px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}


/* Scrollable content */

.zn-dialog.zn-scrollable .zn-dialog-header {
    box-shadow: inset 0 -1px rgba(0, 0, 0, .12);
}

.zn-dialog.zn-scrollable .zn-dialog-actions {
    background-color: #fafafa;
    box-shadow: inset 0 1px rgba(0, 0, 0, .12);
}


/* Media*/

@media (max-width: 720px) {

    .zn-dialog-wrapper {
        padding: 20px 0;
    }

    .zn-dialog {
        margin: 24px 40px;
    }

}

/* END DIALOG */


.zn-avatar {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--zn-text-light);
    font-weight: 400;
    font-size: 18px;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
    user-select: none;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #999999;
    background-repeat: no-repeat;
    background-size: contain;
}


/* SCRIM */

.zn-scrim {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;
    transition: .32s var(--ease-in-out);
    pointer-events: none;
}

.zn-scrim.zn-active {
    opacity: .44;
    pointer-events: auto;
}

.zn-scrim.zn-sidenav-scrim {
    z-index: 99;
}

/* END SIDENAV */


.zn-divider {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 8px 0;
    background-color: rgba(0, 0, 0, .12);
}


/* LIST */

ul.zn-list {
    list-style-type: none;
}

.zn-list {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0;
    margin: 0;
}

.zn-list-item {
    position: relative;
    width: 100%;
    min-height: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--zn-text-dark);
    text-decoration:  none;
    overflow: hidden;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    border: 0;
    outline: none;
    transition: background-color .24s var(--ease-in-out);
}

.zn-list-big .zn-list-item {
    min-height: 56px;
}

.zn-list-item:hover {
    background-color: rgba(0, 0, 0, .06);
}

.zn-list-item > .zn-ripple-container {
    opacity: .06;
}

.zn-list-item .zn-list-item-text {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
}

.zn-list-item .zn-list-item-primary,
.zn-list-item .zn-list-item-secondary {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.zn-list-item .zn-list-item-primary.zn-primary,
.zn-list-item .zn-list-item-secondary.zn-primary {
    color: var(--zn-primary);
}

.zn-list-item .zn-list-item-primary.zn-accent,
.zn-list-item .zn-list-item-secondary.zn-accent {
    color: var(--zn-accent);
}

.zn-list-item .zn-list-item-primary {
    justify-content: flex-start;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin-right: 16px;
    color: var(--zn-text-dark-sec);
}

.zn-list-item .zn-list-item-secondary {
    justify-content: flex-end;
    color: var(--zn-text-dark-hint);
    margin-left: 16px;
}

.zn-list-item .zn-list-item-primary .zn-button,
.zn-list-item .zn-list-item-secondary .zn-button {
    margin: 0;
}

.zn-list-item .zn-list-item-primary .zn-button > .zn-ripple-container,
.zn-list-item .zn-list-item-secondary .zn-button > .zn-ripple-container {
    opacity: .08;
}

.zn-list-item .zn-list-item-primary .zn-button {
    margin-left: -8px;
}

.zn-list-item .zn-list-item-secondary .zn-button {
    margin-right: -8px;
}

.zn-list-item .zn-list-item-primary .zn-button:not(.zn-primary):not(.zn-accent) {
    color: var(--zn-text-dark-sec);
}

.zn-list-item .zn-list-item-secondary .zn-button:not(.zn-primary):not(.zn-accent) {
    color: var(--zn-text-dark-hint);
}

.zn-list .zn-list-item .zn-avatar {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
}

.zn-list-item.zn-two-line .zn-list-item-text h2,
.zn-list-item.zn-two-line .zn-list-item-text h3,
.zn-list-item.zn-three-line .zn-list-item-text h2,
.zn-list-item.zn-three-line .zn-list-item-text h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
}

.zn-list-item.zn-two-line .zn-list-item-text h2[zn-small],
.zn-list-item.zn-two-line .zn-list-item-text h3[zn-small],
.zn-list-item.zn-three-line .zn-list-item-text h2[zn-small],
.zn-list-item.zn-three-line .zn-list-item-text h3[zn-small] {
    font-size: 14px;
}

.zn-list-item.zn-two-line .zn-list-item-text p,
.zn-list-item.zn-three-line .zn-list-item-text p {
    font-size: 14px;
    margin-bottom: 4px;
    color: var(--zn-text-dark-sec);
}

.zn-list-item.zn-two-line .zn-list-item-text h2:last-child,
.zn-list-item.zn-two-line .zn-list-item-text h3:last-child,
.zn-list-item.zn-two-line .zn-list-item-text p:last-child,
.zn-list-item.zn-three-line .zn-list-item-text h2:last-child,
.zn-list-item.zn-three-line .zn-list-item-text h3:last-child,
.zn-list-item.zn-three-line .zn-list-item-text p:last-child {
    margin-bottom: 0;
}

.zn-list-item.zn-two-line {
    min-height: 72px;
}

.zn-list-item.zn-three-line {
    min-height: 88px;
}

.zn-list[zn-seperate] .zn-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.zn-list[zn-seperate] .zn-list-item:last-of-type {
    border-bottom: 0;
}

.zn-divider.zn-inset {
    width: calc(100% - 72px);
    margin-left: 72px;
}


/* Collapsible */

.zn-collapsible-trigger {
    cursor: pointer;
}

.zn-collapsible-content-wrapper {
    position: relative;
    height: 0px;
    transition: .28s var(--sharp);
    overflow: hidden;
    will-change: height;
}

.zn-collapsible-content {
    position: relative;
}

.zn-collapsible.zn-active .zn-collapsible-content-wrapper {
    transition: .28s var(--ease-out);
}

.zn-collapsible-icon {
    user-select: none;
    margin-left: 16px;
    color: var(--zn-text-dark-sec);
    transform: rotate(0deg);
    transition: transform .28s var(--ease-in-out);
}

.zn-collapsible.zn-active .zn-collapsible-icon {
    transform: rotate(180deg);
}

.zn-collapsible-content .zn-list-item {
    padding-left: 72px;
}


/* Divider Logic */

.zn-collapse-with-divider .zn-collapsible.zn-active {
    box-shadow: 0 1px rgba(0, 0, 0, .12), 0 -1px rgba(0, 0, 0, .12);
}

.zn-collapse-with-divider .zn-collapsible.zn-active:first-of-type {
    box-shadow: 0 1px rgba(0, 0, 0, .12);
}

.zn-collapse-with-divider .zn-collapsible.zn-active:last-of-type {
    box-shadow: 0 -1px rgba(0, 0, 0, .12);
}

.zn-collapse-with-divider .zn-collapsible.zn-active + .zn-collapsible.zn-active {
    box-shadow: 0 1px rgba(0, 0, 0, .12);
}

.zn-collapse-with-divider .zn-collapsible.zn-active + .zn-collapsible.zn-active:last-of-type {
    box-shadow: none;
}

/* End Collapsible */

.zn-sidenav .zn-list-item {
    font-weight: 500;
    font-size: 14px;
}

@media (min-width: 720px) {

    .zn-list-item {
        padding: 0 24px;
    }

    .zn-collapsible-content .zn-list-item {
        padding-left: 80px;
    }

    .zn-divider.zn-inset {
        width: calc(100% - 80px);
        margin-left: 80px;
    }

}

/* END LIST */


/* SELECTION CONTROLS */

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.zn-switch,
.zn-radio,
.zn-checkbox {
    --zn-component-color: var(--zn-primary);
}

.zn-switch.zn-accent,
.zn-radio.zn-accent,
.zn-checkbox.zn-accent {
    --zn-component-color: var(--zn-accent);
}

/* SWITCH */

.zn-switch {
	display: inline-block;
	position: relative;
	margin: 12px;
}

.zn-switch input {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 14px;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	user-select: none;
}

.zn-switch .zn-switch-content {
	display: block;
	position: relative;
	width: 36px;
	height: 14px;
	border-radius: 7px;
	background-color: transparent;
}

.zn-switch .zn-switch-content::before {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 7px;
	background-color: #000;
	opacity: .38;
	transition: .2s var(--ease-in-out);
}

.zn-switch .zn-switch-content .zn-switch-knob {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.24), 0px 2px 5px 1px rgba(0, 0, 0, 0.16);
	background-color: #fafafa;
    z-index: 1;
	transition: .2s var(--ease-in-out);
	transform-origin: center center;
}

.zn-switch .zn-switch-content .zn-switch-knob::before {
	display: block;
	position: absolute;
	content: '';
	width: 40px;
	height: 40px;
	left: -10px;
	top: 50%;
	opacity: 0;
	transform: translateY(-50%) scale(0);
	background-color: #000;
	border-radius: 50%;
    z-index: 0;
	transition: .2s var(--ease-in-out);
}

.zn-switch input:focus ~ .zn-switch-content .zn-switch-knob::before {
	transform: translateY(-50%) scale(1);
	opacity: 0.14;
}

.zn-switch input:checked ~ .zn-switch-content::before {
	background-color: var(--zn-component-color);
	opacity: .5;
}

.zn-switch input:checked ~ .zn-switch-content .zn-switch-knob {
	background-color: var(--zn-component-color);
	left: 16px;
}

.zn-switch input:checked ~ .zn-switch-content .zn-switch-knob::before {
	background-color: var(--zn-component-color);
}

.zn-switch input:disabled ~ .zn-switch-content::before {
	background-color: #000;
	opacity: .12;
}

.zn-switch input:disabled ~ .zn-switch-content .zn-switch-knob {
	background-color: #bdbdbd;
}

.zn-switch input:disabled ~ .zn-switch-content .zn-switch-knob::before {
	background-color: #000;
}


/* RADIO */

.zn-radio {
	display: inline-block;
	position: relative;
	margin: 12px;
}

.zn-radio input {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	user-select: none;
}

.zn-radio .zn-radio-content {
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: transparent;
	box-sizing: border-box;
	border: 2px solid rgba(0,0,0,.54);
	transition: .2s var(--ease-in-out);
	transform-origin: center center;
}

.zn-radio .zn-radio-content::after {
	display: block;
	position: relative;
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%) scale(0);
	background-color: var(--zn-component-color);
	transition: .18s var(--ease-in-out);
}

.zn-radio .zn-radio-content::before {
	display: block;
	position: absolute;
	content: '';
	width: 40px;
	height: 40px;
	left: -12px;
	border-radius: 50%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%) scale(0);
	background-color: #000;
	opacity: 0;
	transition: .2s var(--ease-in-out);
}

.zn-radio input:checked ~ .zn-radio-content {
	border-color: var(--zn-component-color);
}

.zn-radio input:checked ~ .zn-radio-content::after {
    transform: translateY(-50%) scale(1);
}

.zn-radio input:focus ~ .zn-radio-content::before {
	background-color: var(--zn-component-color);
	transform: translateY(-50%) scale(1);
	opacity: .12;
}

.zn-radio input:disabled ~ .zn-radio-content {
	border-color: rgba(0,0,0,.26);
}

.zn-radio input:disabled ~ .zn-radio-content::after {
	background-color: rgba(0,0,0,.26);
}

.zn-radio input:disabled ~ .zn-radio-content::before {
	background-color: #000;
}


/* CHECKBOX */

.zn-checkbox {
	display: inline-block;
	position: relative;
	margin: 12px;
}

.zn-checkbox input {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	user-select: none;
}

.zn-checkbox .zn-checkbox-content {
	display: block;
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 2px;
	background-color: transparent;
	box-sizing: border-box;
	border: 2px solid rgba(0,0,0,.54);
	transition: .2s var(--ease-in-out);
}

.zn-checkbox .zn-checkbox-content::after {
	position: absolute;
    display: flex;
    font-family: 'Material Icons';
    align-items: center;
    justify-content: center;
	content: '\e5ca';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    overflow: hidden;
	border-radius: 2px;
    font-size: 18px;
    color: #fff;
    opacity: 0;
    transform: scale(0);
	transition: .12s var(--ease-in-out);
	box-sizing: border-box;
}

.zn-checkbox .zn-checkbox-content::before {
	display: block;
	position: absolute;
	content: '';
	width: 40px;
	height: 40px;
	left: -13px;
	border-radius: 50%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%) scale(0);
	background-color: #000;
	opacity: 0;
	z-index: 0;
	transition: .2s var(--ease-in-out);
}

.zn-checkbox input:focus ~ .zn-checkbox-content::before {
	background-color: var(--zn-component-color);
	transform: translateY(-50%) scale(1);
	opacity: .12;
}

.zn-checkbox input:checked ~ .zn-checkbox-content {
    border-color: var(--zn-component-color);
    background-color: var(--zn-component-color);
}

.zn-checkbox input:checked ~ .zn-checkbox-content::after {
    opacity: 1;
    transform: scale(1);
}

.zn-checkbox input:disabled ~ .zn-checkbox-content {
    border-color: #000;
    opacity: .26;
}

.zn-checkbox input:checked:disabled ~ .zn-checkbox-content {
    background-color: #000;
}

.zn-checkbox input:disabled ~ .zn-checkbox-content::after {
    color: #fff;
}

.zn-checkbox input:disabled ~ .zn-checkbox-content::before {
	background-color: #000;
}


/* LIST CONTROLS */

.zn-list .zn-list-item .zn-checkbox,
.zn-list .zn-list-item .zn-switch,
.zn-list .zn-list-item .zn-radio {
    margin: 0;
}

/* END CONTROLS */



/* TEXT FIELD */

.zn-text-field {
    --zn-component-color: var(--zn-primary);
}

.zn-text-field.zn-accent {
    --zn-component-color: var(--zn-accent);
}

.zn-text-field {
	position: relative;
	display: inline-block;
	vertical-align: middle;
    box-sizing: border-box;
	margin: 24px 0;
}

.zn-text-field[zn-full-width] {
	width: 100%;
}

.zn-text-field .zn-input {
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    vertical-align: top;
    caret-color: var(--zn-component-color);
    color: var(--zn-text-dark);
}

.zn-text-field .zn-input::selection {
    color: var(--zn-text-light);
    background-color: var(--zn-component-color);
}

.zn-text-field .zn-input::placeholder,
.zn-text-field .zn-input:focus::placeholder,
.zn-text-field .zn-input:active::placeholder {
    color: var(--zn-text-dark-sec);
}

.zn-text-field .zn-label {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--zn-text-dark-sec);
    transform: translateY(6px);
    transform-origin: left bottom;
    user-select: none;
    transition: .14s var(--ease-in-out);
    pointer-events: none;
}

.zn-text-field .zn-input,
.zn-text-field .zn-input::placeholder,
.zn-text-field .zn-label {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
}

/*
.zn-text-field .zn-input:not(:disabled):hover {
	border-bottom: 1px solid var(--zn-text-dark);
	box-shadow: 0 1px 0 0 var(--zn-text-dark);
}
*/

.zn-text-field.zn-has-value .zn-label,
.zn-text-field.zn-focused .zn-label {
	transform: translateY(-16px) scale(0.75);
}

.zn-text-field.zn-focused .zn-label {
    opacity: .87;
	color: var(--zn-component-color);
}

.zn-text-field .zn-input-border {
    width: 100%;
    height: 2px;
    background-color: var(--zn-component-color);
    margin-top: -1px;
    z-index: 1;
    position: relative;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    opacity: 0;
    transition: opacity .12s, transform .48s var(--ease-in-out);
}

.zn-text-field.zn-focused .zn-input-border {
	transform: scaleX(1);
	opacity: 1;
	transition: opacity 0s, transform .32s var(--ease-in-out);
}

.zn-text-field[zn-no-float] .zn-label {
    color: var(--zn-text-dark-sec);
    transform: translateY(6px);
}

.zn-text-field .zn-input:disabled ~ label,
.zn-text-field .zn-input:disabled {
    color: rgba(0,0,0,.42) !important;
}

.zn-text-field .zn-input:disabled {
    border-bottom: 1px solid transparent;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    box-shadow: none;
}


/* INPUT */

.zn-text-field .zn-input {
    position: relative;
    height: 32px;
    border-bottom: 1px solid rgba(0,0,0,.42);
    box-sizing: border-box;
    width: 100%;
}

/* END INPUT */


/* MULTI-LINE */

.zn-text-field textarea.zn-input {
    resize: none;
    padding-top: 6px;
    padding-bottom: 12px;
    height: auto;
    min-height: 112px;
    overflow: hidden;
    word-break: break-word;
}

/* END MULTI-LINE */


/* TEXTAREA */

.zn-text-field .zn-textarea {
    padding: 12px;
    padding-top: 32px;
    max-height: 112px;
    min-height: 112px;
    border: 0;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.42);
    transition: .12s var(--ease-in-out);
}

.zn-text-field.zn-focused .zn-textarea {
    box-shadow: 0 0 0 2px var(--zn-component-color);
}

.zn-text-field .zn-textarea textarea.zn-input {
    padding: 0;
    max-height: 112px;
    min-height: 112px;
    border: 0;
}

.zn-text-field .zn-textarea .zn-input-border {
    display: none;
}

.zn-text-field .zn-textarea .zn-label {
    transform: translate(12px, 12px);
}

.zn-text-field.zn-has-value .zn-textarea .zn-label,
.zn-text-field.zn-focused .zn-textarea .zn-label,
.zn-text-field.zn-disabled .zn-textarea .zn-label {
	transform: translate(12px, 2px) scale(0.75);
}

.zn-text-field.zn-disabled .zn-textarea {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.42);
    background-color: rgba(0, 0, 0, .08);
}

.zn-text-field .zn-textarea .zn-input:disabled {
    background-image: none;
}



/* END TEXTAREA */

.zn-text-field .zn-input-helper {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
    font-size: 12px;
    color: var(--zn-text-dark-sec);
    user-select: none;
    cursor: default;
}

.zn-text-field .zn-input-helper.zn-counter {
    justify-content: flex-end;
}



/* END TEXT FIELD */



/* SIDENAV */

.zn-sidenav {
    position: fixed;
    top: 0;
    left: 0;
    right: initial;
    width: calc(100% - 56px);
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 320px;
    box-shadow: none;
    z-index: 100;
    transform: translate3d(-100%, 0, 0);
    transition: .28s var(--sharp);
    will-change: transform;
}

.zn-sidenav.zn-right {
    left: initial;
    right: 0;
    transform: translate3d(100%, 0, 0);
}

.zn-sidenav.zn-active {
    box-shadow: var(--z-16dp);
    transform: translate3d(0, 0, 0);
    transition: .28s var(--ease-out);
}

.zn-sidenav.zn-static {
    position: relative;
    flex-shrink: 0;
    transform: translate3d(0, 0, 0);
    box-shadow: none;
    max-width: 280px;
    z-index: 12;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.zn-clear-transition {
    transition: 0s !important;
}

.zn-sidenav.zn-static.zn-right {
    border-right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

@media ( max-width: 720px ) {
    .zn-sidenav {
        max-width: 280px;
    }
}

/* END SIDENAV */


/* MENU */

.zn-menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fafafa;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    /* 0 1px 4px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.16) */
    opacity: 0;
    transform: translate3d(0, -16px, 0) scale(0);
    transform-origin: left top;
    transition: .2s var(--ease-in-out), opacity .24s var(--ease-in-out);
    z-index: 115;
    user-select: none;
}

.zn-menu.zn-show {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
}

.zn-menu-content {
    position: relative;
    padding: 8px 0;
    width: 100%;
    box-sizing: border-box;
    transform: scale(2);
    transform-origin: inherit;
    opacity: (0);
    transition: .2s var(--ease-in-out);
}

.zn-menu.zn-show .zn-menu-content {
    transform: scale(1);
    opacity: (1);
}

.zn-menu-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 280px;
    min-width: 112px;
    height: 48px;
    min-height: 48px;
    padding: 0 16px;
    color: var(--zn-text-dark);
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    outline: none;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: .12s var(--ease-in-out);
}

.zn-menu-item:hover,
.zn-menu-item:focus,
.zn-menu-item:active {
    background-color: rgba(0, 0, 0, .07);
}

.zn-menu-item > .zn-ripple-container {
    opacity: .07;
}

.zn-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 114;
    pointer-events: all;
    user-select: none;
    cursor: default;
}

@media (max-width: 720px) {

}

/* END MENU */


/* CHIP */

.zn-chip {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 32px;
    min-height: 32px;
    padding: 0 12px;
    margin: 2px;
    background-color: rgba(0, 0, 0, .12);
    font-size: 13px;
    font-weight: 400;
    align-self: flex-start;
    border-radius: 16px;
    color: var(--zn-text-dark);
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
}

.zn-chip-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    margin-right: 8px;
    margin-left: -12px;
    border-radius: 50%;
    color: var(--zn-text-light);
    background-color: var(--zn-accent);
    user-select: none;
    cursor: default;
}

.zn-chip-action {
    position: relative;
    margin-right: -6px;
    margin-left: 4px;
    font-size: 20px;
    color: var(--zn-text-dark-hint);
    cursor: pointer;
}

.zn-chip:hover,
.zn-chip:active {
    color: var(--zn-text-light);
    background-color: rgba(0, 0, 0, .56);
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.14), 0 1px 5px 1px rgba(0, 0, 0, 0.24);
}

.zn-chip:hover .zn-chip-action,
.zn-chip:active .zn-chip-action {
    color: var(--zn-text-light-sec);
}

/* END CHIP */


/* SNACKBAR */

[zn-animation-root] {
    position: relative;
}

.zn-snackbar-wrapper {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 100;
    transform: translateY(100%);
    overflow: hidden;
}

[zn-has-bottom-navbar] .zn-snackbar-wrapper {
    bottom: 56px;
}

.zn-snackbar-wrapper.zn-snackbar-center {
    justify-content: center;
}

.zn-snackbar-wrapper.zn-show {
    transform: translateY(0);
}

.zn-snackbar-wrapper.zn-show .zn-snackbar {
    pointer-events: all;
}

.zn-snackbar-wrapper, .zn-snackbar-animator {
    transition: .32s var(--ease-in-out) !important;
}

.zn-snackbar {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    min-width: 288px;
    max-width: 568px;
    min-height: 48px;
    padding: 0 24px;
    margin: 0 0 24px 24px;
    color: var(--zn-text-light);
    background-color: #323232;
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;
    box-shadow: 0px 1px 4px 0.2px rgba(0, 0, 0, 0.24), 0px 2px 7px 0.12px rgba(0, 0, 0, 0.16);
    flex: 0 0 1;
    box-sizing: border-box;
    user-select: none;
    cursor: default;
}

.zn-snackbar-wrapper.zn-snackbar-two-line .zn-snackbar {
    min-height: 80px;
}

.zn-snackbar-wrapper.zn-snackbar-center .zn-snackbar {
    margin: 0;
}

.zn-snackbar .zn-snackbar-text {
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: flex-start;
    flex: 1;
    line-height: 1;
    transition: .32s var(--ease-in-out);
}

.zn-snackbar .zn-snackbar-action {
    min-width: auto;
    padding: 0;
    margin: 0;
    margin-left: 48px;
    font-weight: 500;
    transition: .32s var(--ease-in-out);
}

.zn-snackbar .zn-snackbar-text,
.zn-snackbar .zn-snackbar-action {
    transition: .56s var(--ease-in-out);
    opacity: 0;
}


.zn-snackbar-wrapper.zn-show .zn-snackbar .zn-snackbar-text,
.zn-snackbar-wrapper.zn-show .zn-snackbar .zn-snackbar-action {
    opacity: 1;
}


.zn-snackbar .zn-snackbar-action::before,
.zn-snackbar .zn-snackbar-action::after {
    display: none;
}

.zn-snackbar .zn-snackbar-action.zn-primary {
    color: var(--zn-primary-light);
}

.zn-snackbar .zn-snackbar-action.zn-accent {
    color: var(--zn-accent-light);
}

@media (max-width: 720px) {

    .zn-snackbar {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .zn-snackbar .zn-snackbar-action {
        margin-left: 24px;
    }

}

@media (min-width: 720px) {

    .zn-snackbar-animator {
        transform: none !important;
    }

}


/* END SNACKBAR */


/* TOOLTIP */

.zn-tooltip {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    min-height: 22px;
    max-height: 22px;
    padding: 0 8px;
    height: 22px;
    background-color: rgba(97, 97, 97, 0.9);
    color: var(--zn-text-light);
    border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
    z-index: 500;
    user-select: none;
    opacity: 0;
    transition: opacity .12s var(--ease-in-out), transform .12s var(--ease-in-out);
    box-sizing: border-box;
}

.zn-tooltip.zn-top {
    transform: translate3d(0, 4px, 0);
}

.zn-tooltip.zn-bottom {
    transform: translate3d(0, -4px, 0);
}

.zn-tooltip.zn-left {
    transform: translate3d(4px, 0, 0);
}

.zn-tooltip.zn-right {
    transform: translate3d(-4px, 0, 0);
}

.zn-tooltip.zn-show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

@media (max-width: 720px) {

    .zn-tooltip {
        padding: 0 16px;
        height: 32px;
        min-height: 32px;
        max-height: 32px;
        font-size: 14px;
    }

}

/* END TOOLTIP */


/* END COMPONENTS */




/* LAYOUT */

[zn-hide] {
    display: none;
}

[zn-layout] {
    display: flex;
    box-sizing: border-box;
}

[zn-layout ~= "row"] {
    flex-direction: row;
}

[zn-layout ~= "row-reverse"] {
    flex-direction: row-reverse;
}

[zn-layout ~= "column"] {
    flex-direction: column;
}

[zn-layout ~= "column-reverse"] {
    flex-direction: column-reverse;
}

[zn-wrap] {
    flex-wrap: wrap;
}

[zn-fill] {
    margin: 0;
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
    box-sizing: border-box;
}

[zn-align = "start start"],
[zn-align = "start center"],
[zn-align = "start end"] {
    justify-content: flex-start;
}

[zn-align = "center start"],
[zn-align = "center center"],
[zn-align = "center end"] {
    justify-content: center;
}

[zn-align = "end start"],
[zn-align = "end center"],
[zn-align = "end end"] {
    justify-content: flex-end;
}

[zn-align = "start start"],
[zn-align = "center start"],
[zn-align = "end start"] {
    align-items: flex-start;
    align-content: flex-start;
}

[zn-align = "start center"],
[zn-align = "center center"],
[zn-align = "end center"] {
    align-items: center;
    align-content: center;
}

[zn-align = "start end"],
[zn-align = "center end"],
[zn-align = "end end"] {
    align-items: flex-end;
    align-content: flex-end;
}

[zn-flex], .zn-flex {
    flex: 1;
}

.zn-padding {
    padding: 24px 80px;
}

@media (min-width: 721px) {

    .zn-padding-on-desktop {
        padding: 24px 80px;
    }

}

.zn-padding-clear {
    position: relative;
    margin: 0 -80px;
}

@media (max-width: 720px) {

    .zn-padding,
    .zn-padding-on-mobile {
        padding: 16px;
    }

    .zn-padding-clear {
        margin: 0 -16px;
    }

}

/* END LAYOUT */
